#inputcontainer {
	text-align: center;
	margin-top: 3em;
}

.chrono {
	text-align: center;
	font-size : 50px;
	color : #0080ff;
	margin-top: 1em;
}

.boutons{
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
	margin-top: 3em;
}
#barre {
	width: 450px;
	height : 20px;
	background-color: grey;
	margin-top : 50%;
	margin: 0 auto;
	
}
#progress{
	height: 20px;
	width: 100%;
	background-color: #DB2828;
	

}
