

.chrono {
	text-align: center;
	font-size : 50px;
	color : #0080ff;

}

.btn {
	
	width:80px;
	line-height:30px;
	text-align:center;
	vertical-align:middle;
	background:#52616a;
	color:white;
	text-decoration:none;

}
.boutons{
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
}
#barre {
	width: 450px;
	height : 20px;
	background-color: grey;
	margin-top : 50%;
	margin: 0 auto;
	
}
#progress{
	height: 20px;
	width: 100%;
	background-color: blue;
	

}
