

.chrono {
	text-align: center;
	font-size : 50px;
	color : #0080ff;

}
#start{
	
	
	width:80px;
	line-height:30px;
	text-align:center;
	vertical-align:middle;
	background:#52616a;
	color:white;
	text-decoration:none;
}
#reset{
	
	width:80px;
	line-height:30px;
	text-align:center;
	vertical-align:middle;
	background:#52616a;
	color:white;
	text-decoration:none;

}
#stop{
	
	width:80px;
	line-height:30px;
	text-align:center;
	vertical-align:middle;
	background:#52616a;
	color:white;
	text-decoration:none;
}
.boutons{
	display: flex;
	justify-content: center;

}
